In [13]:
import pandas as pd
import glob

In [14]:
path = r'/Users/mariaquinton/Desktop/citibike_datasets' # use your path
all_files = glob.glob(path + "/*.csv")

In [15]:
bike_data = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    bike_data.append(df)

frame = pd.concat(bike_data, axis=0, ignore_index=True)

In [16]:
frame.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2

In [8]:
frame.to_csv('/Users/mariaquinton/Desktop/citi_bike.csv')

In [6]:
# jan_2021 = "/Users/mariaquinton/Desktop/202101-citibike-tripdata.csv"
# dec_2020 = "/Users/mariaquinton/Desktop/202012-citibike-tripdata.csv"
# nov_2020 = "/Users/mariaquinton/Desktop/202011-citibike-tripdata.csv"
# oct_2020 = "/Users/mariaquinton/Desktop/202010-citibike-tripdata.csv"
# sept_2020 = "/Users/mariaquinton/Desktop/202009-citibike-tripdata.csv"
# aug_2020 = "/Users/mariaquinton/Desktop/202008-citibike-tripdata.csv"
# july_2020 = "/Users/mariaquinton/Desktop/202007-citibike-tripdata.csv"
# june_2020 = "/Users/mariaquinton/Desktop/202006-citibike-tripdata.csv"
# may_2020 = "/Users/mariaquinton/Desktop/202005-citibike-tripdata.csv"
# april_2020 = "/Users/mariaquinton/Desktop/202004-citibike-tripdata.csv"
# march_2020 = "/Users/mariaquinton/Desktop/202003-citibike-tripdata.csv"
# february_2020 = "/Users/mariaquinton/Desktop/202002-citibike-tripdata.csv"

In [7]:
# jan_2021_df = pd.read_csv(jan_2021)
# dec_2020_df = pd.read_csv(dec_2020)
# nov_2020_df = pd.read_csv(nov_2020)
# oct_2020_df = pd.read_csv(oct_2020)
# sept_2020_df = pd.read_csv(sept_2020)
# aug_2020_df = pd.read_csv(aug_2020)
# july_2020_df = pd.read_csv(july_2020)
# june_2020_df = pd.read_csv(june_2020)
# may_2020_df = pd.read_csv(may_2020)
# april_2020_df = pd.read_csv(april_2020)
# march_2020_df = pd.read_csv(march_2020)
# feb_2020_df = pd.read_csv(february_2020)